body {
  min-width: 1200px;
  min-height: 760px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.container {
  display: flex;
  position: relative;
  width: 1200px;
  min-height: 760px;
  margin: 0 auto;
  outline: 1px solid red;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
}

.user-panel {
  position: relative;
  width: 50px;
  min-height: 760px;
  color: #ffffff;
  background-color: #1d2532;
  /*outline: 1px solid green;*/
}

.user-panel .main-menu-btn {
  display: block;
  margin: 0 auto;
  margin-top: 18px;
  padding: 0;
  border: none;
  color: #ffffff;
  background-color: #1d2532;
  cursor: pointer;
}

.icon-main-menu-btn {
  position: relative;
  width: 20px;
  height: 10px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.icon-main-menu-btn::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
}

.user-panel .service-name {
  display: block;
  width: 100px;
  height: 20px;
  transform: rotate(270deg);
  margin-top: 58px;
  margin-left: -25px;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  /*outline: 1px solid red;*/
}

.user-panel .user-profile {
  position: absolute;
  bottom: 12px;
  left: 50%;
  display: block;
  width: 25px;
  height: 25px;
  margin-left: -12.5px;
  border-radius: 50%;
}

.user-panel .main-navigation {
  /*display: none;*/
  position: absolute;
  top: 0;
  left: 50px;
  width: 200px;
  min-height: 760px;
  color: #ffffff;
  background-color: #232c3d;
  /*outline: 1px solid orange;*/
}

.main-navigation-list {
  margin: 0;
  margin-top: 20px;
  margin-left: 25px;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  list-style: none;
}

.main-navigation-list > li {
  margin-bottom: 38px;
}

.main-navigation-list ul {
  margin: 0;
  margin-top: 12px;
  margin-left: 12px;
  padding: 0;
  list-style: none;
}

.process li,
.result li,
.income li,
.settings li {
  margin-bottom: 14px;
}

.flag-new::after {
  content: "3";
  position: absolute;
  top: 0;
  right: -24px;
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  padding-top: 2.5px;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #23a2ff;
  border-radius: 50%;
}

.main-navigation-list a {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
}

.main-navigation-list a:hover {
  text-decoration: underline;
}

.search-form {
  position: relative;
  width: 150px;
  height: 30px;
  margin-left: 25px;
  /*outline: 1px solid orange;*/
}

.search-form input {
  width: 150px;
  height: 30px;
  padding-left: 16px;
  background-color: #232c3d;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.search-form input:focus {
  background-color: #ffffff;
}

.search-form .search-icon {
  position: absolute;
  top: 7px;
  right: 6px;
  display: block;
  width: 15px;
  height: 15px;
  /*outline: 1px solid red;*/
}

.actual-content {
  /*display: none;*/
  width: 950px;
  min-height: 760px;
  margin-left: 200px;
  color: #000000;
  background-color: #eef2f5;
  outline: 1px solid blue;
}

.main-content-title {
  box-sizing: border-box;
  min-width: 950px;
  min-height: 75px;
  margin: 0;
  padding: 0;
  padding: 25px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 25px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 2px 0 0 #d1dde5;
  /*outline: 1px solid red;*/
}

.main-content-table {
  width: 900px;
  min-height: 450px;
  margin: 0;
  margin-top: 25px;
  margin-left: 25px;
  padding: 0;
  background-color: #ffffff;
  border-collapse: collapse;
  /*outline: 1px solid green;*/
}

.main-content-table th,
.main-content-table td {
  box-sizing: border-box;
  height: 75px;
  text-align: left;
  border-bottom: 2px solid #eef2f5;
  /*outline: 1px solid red;*/
}

.main-content-table th:nth-child(1),
.main-content-table td:nth-child(1) {
  width: 45px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.main-content-table td:nth-child(1) {
  padding-top: 20px;
  vertical-align: top;
}

.main-content-table th:nth-child(2),
.main-content-table td:nth-child(2) {
  width: 100px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
}

.main-content-table td:nth-child(2) {
  padding-top: 15px;
  vertical-align: top;
}

.main-content-table th:nth-child(3),
.main-content-table td:nth-child(3) {
  width: 275px;
  padding-left: 5px;
  padding-right: 5px;
}

.main-content-table th:nth-child(4),
.main-content-table td:nth-child(4) {
  width: 150px;
  padding-left: 5px;
  padding-right: 5px;
}

.main-content-table th:nth-child(5),
.main-content-table td:nth-child(5) {
  width: 100px;
  padding-left: 5px;
  padding-right: 5px;
}

.main-content-table th:nth-child(6),
.main-content-table td:nth-child(6) {
  width: 100px;
  padding-left: 5px;
  padding-right: 5px;
}

.main-content-table th:nth-child(7) {
  width: 130px;
  padding-left: 5px;
  padding-right: 5px;
}

.main-content-table td:nth-child(7) {
  width: 75px;
  padding-left: 5px;
  padding-right: 5px;
}

.main-content-table td:nth-child(8) {
  width: 55px;
  padding-left: 5px;
  padding-right: 5px;
}


.main-content-table th {
  padding: 0;
  padding-top: 23px;
  padding-bottom: 32px;
  vertical-align: top;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #000000;
}

.status-panel {
  display: flex;
  box-sizing: border-box;
  width: 75px;
  height: 25px;
  border: 2px solid #000000;
}

.status-panel .status-item-first {
  position: relative;
  width: 23px;
  height: 21px;
}

.status-panel .status-item-first::before {
  content: "";
  position: absolute;
  top: 2px;
  right: -1px;
  width: 2px;
  height: 17px;
  background-color: #000000;
  z-index: 10;
}

.status-panel .status-item-second {
  position: relative;
  width: 25px;
  height: 21px;
}

.status-panel .status-item-second::before {
  content: "";
  position: absolute;
  top: 2px;
  right: -1px;
  width: 2px;
  height: 17px;
  background-color: #000000;
  z-index: 10;
}

.status-panel .status-item-third {
  position: relative;
  width: 23px;
  height: 21px;
}

.status-panel .mark {
  background-color: #3fb384;
}

.status-panel .mark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6.5px;
  margin-left: -6.5px;
  width: 13px;
  height: 13px;
  background: url("../img/spritesheet.png") no-repeat -19px -399px;
}

.status-panel .cross {
  background-color: #e07058;
}

.status-panel .cross::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6.5px;
  margin-left: -6.5px;
  width: 13px;
  height: 13px;
  background: url("../img/spritesheet.png") no-repeat -43px -399px;
}

.status-panel .question {
  background-color: #fed855;
}

.status-panel .question::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6.5px;
  margin-left: -6.5px;
  width: 13px;
  height: 13px;
  background: url("../img/spritesheet.png") no-repeat -68px -399px;
}

.main-content-table .sorting-inc,
.main-content-table .sorting-dec {
  position: relative;
}

.main-content-table .sorting-inc::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -17px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: 5px solid #c6c8cc;
  cursor: pointer;
}

.main-content-table .sorting-dec::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -17px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 5px solid #1d2532;
  cursor: pointer;
}

.main-content-table .link-status-icon {
  display: block;
  width: 17px;
  height: 17px;
  background-color: #d1dde5;
  border: 4px solid #d1dde5;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  min-height: 760px;
  outline: 1px solid green;
}

.modal-container {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 0 auto;
  padding-top: 28px;
  outline: 1px solid red;
}

.modal-title {
  width: 525px;
  min-height: 20px;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  outline: 1px solid green;
}

.modal-title + p {
  width: 550px;
  min-height: 18px;
  margin-bottom: 20px;
  outline: 1px solid green;
}

.modal .money-info {
  display: flex;
  width: 550px;
  min-height: 75px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
  outline: 1px solid green;
}

.modal .dates-and-controls-wrapper {
  display: flex;
  width: 550px;
  min-height: 50px;
  margin-bottom: 21px;
  outline: 1px solid green;
}

.modal .procurement-method {
  display: flex;
  width: 550px;
  min-height: 35px;
  margin-bottom: 25px;
  outline: 1px solid green;
}

.modal .deadline {
  display: flex;
  width: 550px;
  min-height: 18px;
  margin-bottom: 25px;
  outline: 1px solid green;
}

.modal .status {
  display: flex;
  width: 550px;
  min-height: 100px;
  margin-bottom: 25px;
  outline: 1px solid green;
}

.modal .comments {
  display: flex;
  width: 550px;
  min-height: 225px;
  outline: 1px solid green;
}

.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-avatar1 {
    width: 25px;
    height: 25px;
    background-position: -20px -20px;
}

.sprite-avatar2 {
    width: 25px;
    height: 25px;
    background-position: -20px -85px;
}

.sprite-avatar3 {
    width: 25px;
    height: 25px;
    background-position: -20px -150px;
}

.sprite-icon-add-comment-btn {
    width: 34px;
    height: 30px;
    background-position: -20px -215px;
}

.sprite-icon-link-modal {
    width: 17px;
    height: 17px;
    background-position: -20px -285px;
}

.sprite-icon-link-status {
    width: 17px;
    height: 17px;
    background-position: -20px -342px;
}

.sprite-icon-mark-cross-question {
    width: 58px;
    height: 13px;
    background-position: -20px -399px;
}

.sprite-icon-search {
    width: 15px;
    height: 15px;
    background-position: -20px -452px;
}
